{% extends 'base.html' %}
{% block content %}

<section class="py-5">
    <div class="container">
        <div class="mb-4">
            <a href="{% url 'core:teachings' %}" class="text-decoration-none">
                ← Back to Teachings
            </a>
        </div>
        
        <h1 class="fw-bold mb-3">{{ teaching.title }}</h1>

        {% if teaching.image %}
       <img src="{{ teaching.image.url }}"
     class="img-fluid rounded mb-4 blog-image"
     alt="{{ teaching.title }}">
        {% endif %}

       <div class="article-content">
    {{ teaching.content|linebreaks }}
</div>

    </div>
</section>

{% endblock %}